h1{
    text-align: center;
    color: cornflowerblue;
    text-decoration: underline;
}

h3{
    text-align: center;
    color: cornflowerblue;
    text-decoration: underline;
}

p{
    text-align: center;
    color: black;
}

body{
    background-color: lightslategray;
    font-family: Arial, sans-serif;
}

div.container{
    width: 750px;
    background-color:lightgray;
    padding: 0px, 10px, 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

div.topnav{
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

div.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.topnav a:hover {
    background-color: #ddd;
    color: black;
}

div.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}

p.home{
    text-align: left;
    padding-left: 25px;
}

a#about {
    float: right;
}

div.topnav a#about.active{
    float: right;
}

p.error{
    color: #ff2525;
    padding-left: 5px;
    padding-right: 5px;
    font-family: inherit;
}

h3.about{
    text-align: left;
    padding-left: 25px;
}

p.about{
    text-align: left;
    padding-left: 25px;
}